<a href="https://colab.research.google.com/github/lukaszplust/data-science-learn/blob/main/181_190_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 181](#1)
* [Ćwiczenie 182](#2)
* [Ćwiczenie 183](#3)
* [Ćwiczenie 184](#4)
* [Ćwiczenie 185](#5)
* [Ćwiczenie 186](#6)
* [Ćwiczenie 187](#7)
* [Ćwiczenie 188](#8)
* [Ćwiczenie 189](#9)
* [Ćwiczenie 190](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

np.__version__

'1.21.6'

Uruchom poniższą instrukcję aby pobrać plik _insurance.csv_ do katalogu roboczego.

In [2]:
!wget -q https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv

### <a name='1'></a> Ćwiczenie 181
Wczytaj plik _insurance.csv_ do obiektu DataFrame o nazwie _df_raw_ i wyświetl kilka początkowych wierszy.

In [3]:
df_raw = pd.read_csv('insurance.csv')
df_raw.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Skopiuj obiekt _df_raw_ do zmiennej _df_ i wyświetl podstawowe informacje o obiekcie _df_.

In [4]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### <a name='2'></a> Ćwiczenie 182
Sprawdź czy istnieją zduplikowane wiersze w obiekcie _df_. Jeśli tak, wyświetl te wiersze.

In [5]:
df[df.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

Usuń duplikaty w obiekcie _df_.

In [6]:
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

### <a name='3'></a> Ćwiczenie 183
Wyświetl z obiektu _df_ zmienne z typem _object_.

__Wskazówka:__ Użyj metody _pd.DataFrame.select_dtypes()_

In [7]:
df.select_dtypes(include=['object'])

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1337 rows x 3 columns]

Przekształć te zmienne do zmiennych kategorycznych.

__Wskazówka:__ Użyj metody _pd.DataFrame.astype()_.

In [9]:
for col in list(df.select_dtypes(include=['object']).columns):
  df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   category
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   category
 5   region    1337 non-null   category
 6   charges   1337 non-null   float64
dtypes: category(3), float64(2), int64(2)
memory usage: 56.6 KB

Wyświetl z obiektu _df_ zmienne numeryczne (_float_, _int_).

__Wskazówka:__ Użyj metody _pd.DataFrame.select_dtypes()_

In [10]:
df.select_dtypes(include=['float', 'int'])

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1337 rows x 4 columns]

Znajdź nazwy zmiennych numerycznych (_float_, _int_) z obiektu _df_.

In [12]:
for col in list(df.select_dtypes(include=['float', 'int']).columns):
  print(col)

age
bmi
children
charges

### <a name='4'></a> Ćwiczenie 184

Wykonaj poniższe kroki:

* przypisz do zmiennej _df_cat_ zmienne kategoryczne z obiektu _df_ i utwórz ich kopię.

* przypisz do zmiennej _df_num_ zmienne numeryczne z obiektu _df_ i utwórz ich kopię.

In [13]:
df_cat = df.select_dtypes(include=['category']).copy()
df_num = df.select_dtypes(include=['float', 'int']).copy()

Wyświetl 5 pierwszych wierszy obiektu _df_cat_.

In [14]:
df_cat.head()

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

Wyświetl 5 pierwszych wierszy obiektu _df_num_.

In [15]:
df_num.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

### <a name='5'></a> Ćwiczenie 185
Wyświetl podstawowe statystyki obiektu _df_cat_.

In [16]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sex     1337 non-null   category
 1   smoker  1337 non-null   category
 2   region  1337 non-null   category
dtypes: category(3)
memory usage: 14.8 KB

Wyświetl podstawowe statystyki obiektu _df_num_.

In [17]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   bmi       1337 non-null   float64
 2   children  1337 non-null   int64
 3   charges   1337 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 52.2 KB

### <a name='6'></a> Ćwiczenie 186
Wyświetl podstawowe statystyki obiektu _df_ dla zmiennych numerycznych i dokonaj transponowania otrzymanego obiektu _DataFrame_.

In [20]:
df.describe().T # ważne

,count,mean,std,min,25%,50%,75%,max
age,1337.0,39.222139,14.044333,18.0000,27.000,39.0000,51.00000,64.00000
bmi,1337.0,30.663452,6.100468,15.9600,26.290,30.4000,34.70000,53.13000
children,1337.0,1.095737,1.205571,0.0000,0.000,1.0000,2.00000,5.00000
charges,1337.0,13279.121487,12110.359656,1121.8739,4746.344,9386.1613,16657.71745,63770.42801

Wyświetl podstawowe statystyki obiektu _df_ dla zmiennych numerycznych, dokonaj transponowania otrzymanego obiektu _DataFrame_ i wytnij dwie columny _mean_ i _std_.

In [21]:
df.describe().T[['mean','std']]

                  mean           std
age          39.222139     14.044333
bmi          30.663452      6.100468
children      1.095737      1.205571
charges   13279.121487  12110.359656

Wyświetl podstawowe statystyki obiektu _df_ dla zmiennych kategorycznych i dokonaj transponowania otrzymanego obiektu _DataFrame_.

In [22]:
df.describe(include='category').T

       count unique        top  freq
sex     1337      2       male   675
smoker  1337      2         no  1063
region  1337      4  southeast   364

Sprawdź, czy są jakieś braki danych w obiekcie _df_.

In [23]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

### <a name='6'></a> Ćwiczenie 186
Wykorzystując bibliotekę _plotly express_ zbuduj histogram zmiennej _charges_.

Użyj funkcji _px.histogram()_ z następującymi parametrami: 
* width=800
* height=400
* nbins=50
* facet_col='smoker'
* facet_row='sex'

In [25]:
px.histogram(df,x='charges',width=800,height=400,nbins=50,facet_col='smoker',facet_row='sex') # facet_col dzieli na kolumny,row na wiersze

Wykorzystując bibliotekę _plotly express_ znajdź rozkład zmiennej _smoker_.

Użyj funkcji _px.histogram()_ z następującymi parametrami: 
* width=800
* height=400
* facet_col='sex'
* color='sex'

In [26]:
px.histogram(df,x='smoker',width=800,height=400,facet_col='sex',color='sex')

### <a name='7'></a> Ćwiczenie 187
Skonwertuj zmienne kategoryczne obietku _df_ do kodowania 0-1 i przypisz do zmiennej _df_dummies_.

__Wskazówka:__ Użyj funkcji _pd.get_dummies()_ z parametrem _drop_first=True_.

In [27]:
df_dummies = pd.get_dummies(df, drop_first = True)
df_dummies

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

### <a name='8'></a> Ćwiczenie 188
Wyznacz korelacje zmiennych w obiekcie _df_dummies_ i przypisz do zmiennej _corr_.

In [28]:
corr = df_dummies.corr()
corr

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
age,1.000000,0.109344,0.041536,0.298308,-0.019814,-0.025587,0.001495,-0.012311,0.009415
bmi,0.109344,1.000000,0.012755,0.198401,0.046397,0.003746,-0.136138,0.270057,-0.006211
children,0.041536,0.012755,1.000000,0.067389,0.017848,0.007331,0.026044,-0.023492,0.021538
charges,0.298308,0.198401,0.067389,1.000000,0.058044,0.787234,-0.038695,0.073578,-0.043637
sex_male,-0.019814,0.046397,0.017848,0.058044,1.000000,0.076596,-0.012482,0.017578,-0.003767
smoker_yes,-0.025587,0.003746,0.007331,0.787234,0.076596,1.000000,-0.036321,0.068282,-0.037168
region_northwest,0.001495,-0.136138,0.026044,-0.038695,-0.012482,-0.036321,1.000000,-0.345909,-0.320493
region_southeast,-0.012311,0.270057,-0.023492,0.073578,0.017578,0.068282,-0.345909,1.000000,-0.346614
region_southwest,0.009415,-0.006211,0.021538,-0.043637,-0.003767,-0.037168,-0.320493,-0.346614,1.000000

Wytnij kolumnę z obiektu _corr_ dla zmiennej _charges_ (jako obiekt DataFrame) i posortuj wartości malejąco.

In [31]:
corr[['charges']].sort_values(by='charges', ascending=False) # BARDZO WAŻNE ascending = False --> malejąco

                   charges
charges           1.000000
smoker_yes        0.787234
age               0.298308
bmi               0.198401
region_southeast  0.073578
children          0.067389
sex_male          0.058044
region_northwest -0.038695
region_southwest -0.043637

Wykorzystując bibliotekę _plotly express_ utwórz wykres słupkowy dla tak posortowanych wartości. Pomiń pierwszy element obiektu.

In [34]:
tmp = corr[['charges']].sort_values(by='charges', ascending=False).reset_index()[1:]
tmp.columns = ['name', 'value']
tmp

               name     value
1        smoker_yes  0.787234
2               age  0.298308
3               bmi  0.198401
4  region_southeast  0.073578
5          children  0.067389
6          sex_male  0.058044
7  region_northwest -0.038695
8  region_southwest -0.043637

In [35]:
px.bar(tmp, x='name', y='value', width=900)

### <a name='9'></a> Ćwiczenie 189
Skopiuj obiekt _df_dummies_ do zmiennej _data_. Następnie wyrwij z tego obiektu kolumnę _charges_ i przypisz do zmiennej _target_.

In [45]:
data = df_dummies.copy()
target = data['charges']
#lub to data.pop('charges')

Wyświetl 5 pierwszych wierszy obiektu _data_. Upewnij się, że nie ma w nim kolumny _charges_.

In [46]:
data.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

Wyświetl 5 pierwszych wierszy obiektu _target_.

In [47]:
target.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

### <a name='10'></a> Ćwiczenie 190
Wykorzystując bibliotekę _scikit-learn_ oraz funkcję _train_test_split_ podziel dane z obiektów _data_ i _target_ na zbiór treningowy (_X\_train_, _y\_train_) oraz zbiór testowy (_X\_test_, _y\_test_). Do zbioru testowego przydziel 20% próbek. 

Wyświetl rozmiar obiektów:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.2)

print(f'X_train shape: {X_train.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'Y_train shape: {Y_train.shape}')
print(f'Y_test shape: {Y_test.shape}')

X_train shape: (1069, 9)
X_test shape: (268, 9)
Y_train shape: (1069,)
Y_test shape: (268,)

Zapisz obiekty:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_  

do plików csv odpowiednio o nazwie:
* X_train.csv
* X_test.csv
* y_train.csv
* y_test.csv

In [54]:
# kozak sprawa zapamiętać !!!!
fnames = ['X_train.csv', 'X_test.csv', 'Y_train.csv', 'Y_test.csv']
dfs = [X_train, X_test, Y_train, Y_test]

for fname, df in zip(fnames,dfs):
  df.to_csv(fname)

Uruchom poniższą komórkę w celu sprawdzenia.

In [53]:
!head -5 X_test.csv
!head -5 X_train.csv
!head -5 Y_train.csv
!head -5 Y_test.csv

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
584,19,20.7,0,1242.816,1,0,0,0,1
726,41,28.405,1,6664.68595,1,0,1,0,0
1321,62,26.695,0,28101.33305,1,1,0,0,0
1010,48,22.8,0,8269.044,0,0,0,0,1
,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
490,19,32.9,0,1748.774,0,0,0,0,1
922,38,31.0,1,5488.262,1,0,0,0,1
504,38,28.93,1,5974.3847,0,0,0,1,0
364,21,21.89,2,3180.5101,0,0,0,1,0
,charges
490,1748.774
922,5488.262
504,5974.3847
364,3180.5101
,charges
584,1242.816
726,6664.68595
1321,28101.33305
1010,8269.044