<a href="https://colab.research.google.com/github/lukaszplust/data-science-learn/blob/main/Data_Frame_Ex_0_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
pd.__version__

'1.5.3'

In [2]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']

print(pd.Series(stocks))
#[print(i) for i in stocks]

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [3]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

quotations = pd.Series(stocks)

print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [4]:
quotations = quotations.to_list()

In [8]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

In [15]:
quotations = pd.DataFrame(quotations)

In [23]:
quotations.columns = ['price']

In [24]:
quotations

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [39]:
df = pd.Series(np.arange(10,100,10),np.arange(101,110,1),'float')

In [40]:
df

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [57]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

In [59]:
series = pd.to_numeric(series)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [56]:
series

[1, 2, 3, 4]

In [82]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

In [83]:
quotations

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [84]:
stocks

{'PLW': 387.0, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [87]:
quotations.loc['BBT'] = '25.5'
quotations.loc['F51'] = '19.2'

In [90]:
quotations.astype(float)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [128]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2,
}
quotations = pd.Series(data=stocks)

In [129]:
quotations = pd.DataFrame(quotations)

In [130]:
quotations

         0
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0
BBT   25.5
F51   19.2

In [133]:
quotations = quotations.reset_index()

In [134]:
quotations.columns = ['ticker', 'price']

In [135]:
quotations

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [136]:
import pandas as pd

In [214]:
df = pd.DataFrame(data = [['Amazon','2375.0','AMZN.US'], ['Microsoft','178.6','MSFT.US'],['Facebook','179.2','FB.US']],columns = ['company', 'price','ticker'],index = np.arange(0,3,1))

In [210]:
df

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [218]:
df = df.set_index('company')

In [219]:
df

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US