<a href="https://colab.research.google.com/github/lukaszplust/data-science-learn/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [3]:
X1 = np.array([1, 2, 3, 4, 5, 6])
Y = np.array([3000, 3250, 3500, 3750, 4000, 4250])
m = len(X1)

In [4]:
print(f'Lata pracy: {X1}')
print(f'Wynagrodzenie: {Y}')
print(f'Liczba próbek: {m}')

Lata pracy: [1 2 3 4 5 6]
Wynagrodzenie: [3000 3250 3500 3750 4000 4250]
Liczba próbek: 6

In [7]:
X1 = X1.reshape(m, 1)

In [10]:
print(X1)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [9]:
X1.shape

(6, 1)

In [11]:
bias = np.ones((m, 1))
bias

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

In [12]:
bias.shape

(6, 1)

In [13]:
X = np.append(bias,X1,axis=1)

In [14]:
X.shape

(6, 2)

In [16]:
print(X)

[[1. 1.]
 [1. 2.]
 [1. 3.]
 [1. 4.]
 [1. 5.]
 [1. 6.]]

### <a name='2'></a> Równanie normalne

Regresja liniowa w $R^2$:
$$Y = w_0 + w_1X_1$$
$$Y = W^TX$$
gdzie: $$W= \left[\begin{matrix}w_0\\w_1\end{matrix}\right]$$ $$ X= \left[\begin{matrix}1\\X_1\end{matrix}\right] $$ stąd $$ W^T= \left[\begin{matrix}w_0&w_1\end{matrix}\right] $$    
$$Y = W^TX = \left[\begin{matrix}w_0&w_1\end{matrix}\right] \cdot  \left[\begin{matrix}1\\X_1\end{matrix}\right] = w_0 + w_1X_1$$

Równanie normalne - równanie pozwalające obliczyć minimum funkcji straty (o ile istnieje)
$$W = (X^TX)^{-1}(X^TY)$$

In [17]:
np.dot(X.T,X)

array([[ 6., 21.],
       [21., 91.]])

In [18]:
#macierz odwrotna
inverse = np.linalg.inv(np.dot(X.T,X))
inverse

array([[ 0.86666667, -0.2       ],
       [-0.2       ,  0.05714286]])

In [19]:
inverse_right = np.dot(X.T,Y)
inverse_right

array([21750., 80500.])

In [20]:
np.dot(inverse, inverse_right)

array([2750.,  250.])

Końcowa postać modelu$$Y = 2750 + 250X_1$$

In [21]:
from sklearn.linear_model import LinearRegression

regression = LinearRegression()
regression.fit(X1,Y)

#współczynnik przecięcia -> w0
print(regression.intercept_)

#dla R2 -> coef[0]
print(regression.coef_[0])

2750.0
250.0